<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos Online</title>

  <link rel="stylesheet" href="/styles/result.css">
</head>

<body>
  <section class="container">
    <h1>Oops!</h1>
    <h2>Ocorreu um erro ao processar sua solicitação</h2>
    <img src="/assets/error.svg" alt="Imagem de erro">
  </section>
</body>

</html>