<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos Online</title>

  <link rel="stylesheet" href="/styles/result.css">
</head>

<body>
  <section class="container">
    <h1>Enviado com sucesso</h1>
    <h2>Obrigado!</h2>
    <img src="/assets/success.svg" alt="Imagem de celebração">
    <p>Aguarde novas instruções através do seu email</p>
  </section>
</body>

</html>